.container {
  margin: auto;
  background-color: rgb(237, 235, 235);
  width: 1100px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(215, 215, 215);
}

.innerContainer {
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 3px;
}

.rowBattlfields {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}

.text {
  text-align: center;
  font-size: 25px;
}

.btnReturnStart {
  position: absolute;
  left: 82%;
  margin: auto;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: flex;
  border: 0px;
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #0502ce;
  background-image: linear-gradient(
    45deg,
    #0cddf9 0%,
    #0900b2 51%,
    #0368db 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnReturnStart:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btnReturnStart:active {
  transform: scale(0.95);
}
