.container {
  margin: auto;

  background-color: rgb(237, 235, 235);
  width: 1100px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(215, 215, 215);
}

.innerContainer {
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-around;
}

.containerShips {
  margin-top: 25px;
  padding: 15px;
  border: 2px solid rgb(2, 1, 47);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.blockShipsRow {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.textShips {
  font-size: 18px;
  color: #09003c;
  text-align: center;
  font-weight: 700;
}

.textPlaceShips {
  font-size: 35px;
  color: #09003c;
  font-weight: 700;
  margin-left: 5%;
}

.buttonRotate {
  font-size: 25px;
  color: rgb(3, 19, 74);
}

.btnResetShips {
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  border: 2px solid rgb(158, 2, 2);
  color: rgb(158, 2, 2);
  cursor: pointer;
  transition: 0.5s;
}

.btnResetShips:hover {
  background-color: rgb(158, 2, 2);
  color: white;
}

.buttonStart {
  padding: 10px 20px;
  display: flex;
  justify-self: end;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  width: 100px;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0px 0px 14px -7px #0502ce;
  background-image: linear-gradient(
    45deg,
    #3cd4fe 0%,
    #4841d8 51%,
    #0368db 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonStart:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.buttonStart:active {
  transform: scale(0.95);
}
