* {
  font-family: "Balsamiq Sans";
}
html,
body {
  margin: auto;
  padding: auto;
  height: 100%;
  width: 100%;
}

.containerApp {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: url("sea-shadow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
